@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

.home-title {
    font-family: "Moon Dance";
    font-size: 2em;
    margin-top: 10px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #CBD2D0;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
    color: #CBD2D0;
}

main section {
    text-align: center;
    color: #CBD2D0;
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #0B3C49;
}

body {
    background-color: #0B3C49;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0B3C49;

}

nav a:hover {
    background-color: white;
    color: #CBD2D0;
}

.book, .join {
    background-color: #731963;
    color: #CBD2D0;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: white;
    color: #CBD2D0;
}

.msg {
    background-color: #0B3C49;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #0B3C49;
    color: #CBD2D0;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #CBD2D0;
}

h4 {
    color: #CBD2D0;
}

.msg h2 {
    color: #CBD2D0;
}

.msg p {
    color: #CBD2D0;
    padding-bottom: 15px;
}

footer a {
    color: #CBD2D0;
    text-decoration: none;
}

footer a:hover {
    color: #CBD2D0;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border:10px;
    border-color: black;
}