body {
    background-color: #F9DEC9;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    background-color: #ecc6a8;
    display: grid;
    grid-template-columns: 200px auto;
    border-bottom: solid 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 50px;
    color: #3A405A;
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    grid-column: 1/2;
    width: 80px;
    border: solid 10px #3A405A;
    /* padding: */
}

#logo_link {
    padding: 10px;
    justify-self: center;
    align-self: center;
}

#bom-pic {
    margin: 0 auto;
    width: 50%;
    margin-top: 100px;
    z-index: -1;
    border: solid #3A405A;
}

section {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3A405A;
}

.first {
    text-align: center;
}

.first h1 {
    font-size: 3em;
    font-weight: bold;
}

.first h2 {
    margin: 0 auto;
    width: 60%;
    padding: 50px
}

.second {
    padding: 50px;
    font-size: 1.25em;
    margin: 0 auto;
    width: 45%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    column-gap: 100px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

#one {
    margin: 0 auto;
    grid-column: 1/2;
    grid-row: 1/3;
}

#two {
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 1/2;
}

#americas {
    margin: 0 auto;
    width: 90%;
    grid-column: 2/3;
    grid-row: 2/3;
    align-items: center;
    border: solid #3A405A;
}

footer {
    padding-top:20px;
    background-color: #ecc6a8;
    color: #CBD2D0;
    display: grid;
    grid-template-columns: 200px auto auto;
    text-decoration: none;
    border-top: solid 1px black;
    font-family: Arial, Helvetica, sans-serif;
}

#bottom {
    
    padding: 10px;
    justify-self: center;
    align-self: center;
}

#copyright {
    grid-column: 2/3;
    text-align: center;
    color: #3A405A;
    font-size: 2em;
}

.plan {
    grid-column: 3/4;
    text-align: center;
    color: #3A405A;
    font-size: 2em;
    padding-top: 35px;
}

nav a:hover {
    font-weight: bold;
    font-size: 1.88em;
    color: #3A405A;
}

.plan:hover {
    font-weight: bold;
    font-size: 1.88em;
    color: #3A405A;
}

footer a {
    text-decoration: none;
}

.sub2main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.third {
    grid-column: 1/5;
    grid-row: 1/2;
}

.third h1 {
    font-size: 3em;
    font-weight: bold;
}

#christimage {
    width: 1000px;
    border: solid #3A405A;
}

.fourth {
    grid-column: 1/5;
    grid-row: 2/3;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

#bibleimage {
    width: 25%;
    border: solid #3A405A;
}

.sub3main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 400px 400px;
    column-gap: 100px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.sub3main h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 30px;
    color: #3A405A;
    font-size: 3em;
    font-weight: bold;
}

#expintro {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 20px;
}

#trustimage {
    grid-column: 1/2;
    grid-row: 3/4;
    border: solid #3A405A;
}

#handsimage {
    grid-column: 2/3;
    grid-row: 2/3;
    border: solid #3A405A;
}

#expoutro {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 50px;
    padding-left: 20px;
}